*{
    transition: 1s;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    align-items: center;
    display: grid;
    justify-content: center;
    height: 100%;
    /*
    background-image: url("https://media.discordapp.net/attachments/1062101821767823360/1157233369088794674/dia.jpg?ex=6517dd0f&is=65168b8f&hm=8d0634e4a0737d6b88adaafcc9f2bb851a9316378ae23e5c034035c2e267759a");
    */
    background-color: #121212;
}

a.enlace{
    text-decoration: none;
    color: white;
}
a.enlace:hover{
    text-decoration: underline;
    color: white;
}

form{
    color: white;
    background-color: #808080bb;
    padding: 25px;
    border-radius: 20px;
}
